Repository Lzdavi13/club-ecommerce-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add Home Page and React Router
  pnpm-lock.yaml
  src/App.tsx
  src/components/header/header.component.tsx
  src/components/header/header.styles.css
  src/routes.tsx
Due: pnpm eslint --ext .tsx --fix

feat: add Categories Component
  src/assets/category-1.jpg
  src/assets/category-2.jpg
  src/assets/category-3.jpg
  src/assets/category-4.jpg
  src/assets/category-5.jpg
  src/components/categories/categorie.component.tsx
  src/components/categories/categories.styles.css
  src/types/category.type.ts
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add Category Item Component
  src/components/categories/categorie.component.tsx
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.styles.css
  src/data/categories.ts
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add Category Item Component
  package.json
  pnpm-lock.yaml
  src/components/categories/categorie.component.tsx
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.styles.css
Due: pnpm eslint --ext .tsx --fix

feat: add Theme Colors File
  src/theme/theme.colors.ts
Due: pnpm eslint --ext .ts --fix

refactor: add Styled Components to Header Component
  src/components/header/header.component.tsx
  src/components/header/header.styles.css
  src/components/header/header.styles.ts
  src/data/categories.ts
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

refactor: add Styled Components to Category Item Component
  src/components/category-item/category-item.component.tsx
  src/components/category-item/category-item.styles.css
  src/components/category-item/category-item.styles.ts
  src/components/header/header.component.tsx
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

refactor: add Styled Components to Categories Component
  src/components/categories/categories.component.tsx
  src/components/categories/categories.styles.css
  src/components/categories/categories.styles.ts
  src/components/category-item/category-item.styles.ts
  src/pages/home.page.tsx
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add initial Login Page and Login Route
  .lintstagedrc.json
  src/components/categories/categories.component.tsx
  src/components/header/header.component.tsx
  src/components/header/header.styles.ts
  src/pages/home.page.tsx
  src/pages/home/home.page.tsx
  src/pages/login/login.styles.ts
  src/pages/login/login.tsx
  src/routes.tsx
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add Custom Buttom Component
  .husky/pre-commit
  src/components/custom-button/custom-button.component.tsx
  src/components/custom-button/custom-button.styles.ts
  src/pages/login/login.tsx
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add Custom Input Component
  src/components/custom-input/custom-input.component.tsx
  src/components/custom-input/custom-input.styles.ts
  src/pages/login/login.tsx
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

feat: add Custom Input to Login Page
  .husky/pre-commit
  src/components/custom-input/custom-input.component.tsx
  src/components/custom-input/custom-input.styles.ts
Due: pnpm eslint --ext .ts --fix, pnpm eslint --ext .tsx --fix

Path conditions:
  pnpm eslint --ext .ts --fix: any of: *.ts
  pnpm eslint --ext .tsx --fix: any of: *.tsx
